sensehat-flow.json
[{"id":"6e2c72e4.29514c","type":"tab","label":"LED制御","disabled":false,"info":""},{"id":"ded871c8.af363","type":"tab","label":"SORACOM Metadata","disabled":false,"info":""},{"id":"1caacad.54c8a35","type":"tab","label":"SORACOM Harvest","disabled":false,"info":""},{"id":"1b3b57cd.1b61a8","type":"tab","label":"１度だけ実行","disabled":false,"info":""},{"id":"e5321a4e.bd11d8","type":"subflow","name":"ランダムLED","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"d84f5d89.00fc6"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"913fcf27.57204","port":0}]}]},{"id":"acc22296.c8efc","type":"subflow","name":"ランダムdot","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"3cc95fdc.b1b51"}]}],"out":[{"x":1000,"y":220,"wires":[{"id":"a6c0bdc8.b255a","port":0},{"id":"16fa49a7.b13906","port":0}]}]},{"id":"e9425003.9b38c","type":"subflow","name":"天気予報","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"ba7fa8b2.408198"}]}],"out":[{"x":880,"y":320,"wires":[{"id":"1c8c34f6.aca87b","port":0},{"id":"1cc6a961.53d347","port":0},{"id":"46f21c72.62c874","port":0},{"id":"3c4dbca7.53d464","port":0},{"id":"5d4df10d.18392","port":0}]}]},{"id":"d7fa89ee.b2d1a8","type":"rpi-sensehat in","z":"6e2c72e4.29514c","name":"","motion":false,"env":false,"stick":true,"x":130,"y":200,"wires":[["e2944646.7c54b8"]]},{"id":"482dfd3.046c004","type":"inject","z":"1b3b57cd.1b61a8","name":"システム設定","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["c66a7b21.252f28","6403507f.1d78a","ce2391ce.40a86"]]},{"id":"300ad5ea.9e8cca","type":"template","z":"1b3b57cd.1b61a8","name":"wvdial.confの作成","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[Dialer Defaults]\nInit1 = ATZ\nInit2 = ATH\nInit3 = AT+CGDCONT=1,\"IP\",\"soracom.io\"\nInit4 = ATQ0 V1 E1 S0=0 &C1 &D2 +FCLASS=0\nDial Attempts = 3\nStupid Mode = 1\nModem Type = Analog Modem\nDial Command = ATD\nNew PPPD = yes\nAPN = soracom.io\nModem = /dev/ttyUSB2\nBaud = 460800\nISDN = 0\nPhone = *99***1#\nUsername = sora\nPassword = sora\nCarrier Check = no","output":"str","x":590,"y":160,"wires":[["62ba8c95.8c1c24"]]},{"id":"62ba8c95.8c1c24","type":"file","z":"1b3b57cd.1b61a8","name":"wvdial.confへの書き込み","filename":"/etc/wvdial.conf","appendNewline":true,"createDir":false,"overwriteFile":"true","x":830,"y":160,"wires":[["e327a101.25417"]]},{"id":"c66a7b21.252f28","type":"exec","z":"1b3b57cd.1b61a8","command":"sudo touch /etc/wvdial.conf && sudo chmod 646 /etc/wvdial.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdial.confを作成","x":370,"y":160,"wires":[["300ad5ea.9e8cca"],[],[]]},{"id":"e327a101.25417","type":"exec","z":"1b3b57cd.1b61a8","command":"sudo chmod 644 /etc/wvdial.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdial.confの権限を戻す","x":1090,"y":160,"wires":[[],[],[]]},{"id":"6403507f.1d78a","type":"exec","z":"1b3b57cd.1b61a8","command":"yes | sudo apt-get install wvdial","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdialのインストール","x":380,"y":60,"wires":[["cb1abfe2.e4c2b"],[],[]]},{"id":"a950e238.f0ecf","type":"inject","z":"ded871c8.af363","name":"IMSIの取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["6f1d4e46.d1894"]]},{"id":"bad37ce6.edbb","type":"debug","z":"ded871c8.af363","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"6f1d4e46.d1894","type":"http request","z":"ded871c8.af363","name":"subscriber.imsi","method":"GET","ret":"txt","url":"http://metadata.soracom.io/v1/subscriber.imsi","tls":"","x":400,"y":180,"wires":[["bad37ce6.edbb"]]},{"id":"108cb746.c37519","type":"http request","z":"ded871c8.af363","name":"subscriber","method":"GET","ret":"obj","url":"http://metadata.soracom.io/v1/subscriber","tls":"","x":390,"y":100,"wires":[["bad37ce6.edbb"]]},{"id":"ebb7828f.110b3","type":"inject","z":"ded871c8.af363","name":"Subscriber情報取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["108cb746.c37519"]]},{"id":"ce2391ce.40a86","type":"exec","z":"1b3b57cd.1b61a8","command":"sudo systemctl enable nodered.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"node-redをOS起動時に実行","x":400,"y":260,"wires":[[],[],[]]},{"id":"cb1abfe2.e4c2b","type":"debug","z":"1b3b57cd.1b61a8","name":"結果の出力","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":60,"wires":[]},{"id":"5ab1d6c0.5a9fc8","type":"change","z":"1caacad.54c8a35","name":"カウントを１プラス","rules":[{"t":"set","p":"count","pt":"flow","to":"$flowContext(\"count\") + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["c4e36b94.cf7ba8"]]},{"id":"c4e36b94.cf7ba8","type":"switch","z":"1caacad.54c8a35","name":"5秒に1度だけ出力","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$boolean($flowContext(\"count\") % 5 = 0)\t","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":280,"wires":[["2e211927.36bf66"]]},{"id":"b75efddc.ee19f","type":"rpi-sensehat in","z":"1caacad.54c8a35","name":"室内情報を取得","motion":false,"env":true,"stick":false,"x":160,"y":280,"wires":[["5ab1d6c0.5a9fc8"]]},{"id":"43242164.73356","type":"inject","z":"1caacad.54c8a35","name":"harvestの利用開始","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["e3a27c34.4b2de"]]},{"id":"e3a27c34.4b2de","type":"change","z":"1caacad.54c8a35","name":"カウンタを初期化","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[[]]},{"id":"2e211927.36bf66","type":"http request","z":"1caacad.54c8a35","name":"","method":"POST","ret":"txt","url":"http://harvest.soracom.io","tls":"","x":810,"y":280,"wires":[[]]},{"id":"9f9729d9.bd94c8","type":"inject","z":"1caacad.54c8a35","name":"harvestの利用停止","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["25fb869c.dd9bda"]]},{"id":"25fb869c.dd9bda","type":"change","z":"1caacad.54c8a35","name":"カウンタを削除","rules":[{"t":"set","p":"count","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[[]]},{"id":"e2944646.7c54b8","type":"switch","z":"6e2c72e4.29514c","name":"ONの時","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":200,"wires":[["c2011592.9284e8"]]},{"id":"c2011592.9284e8","type":"switch","z":"6e2c72e4.29514c","name":"押されたキー","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":320,"y":300,"wires":[["747b747f.5e02dc"],["4cd11b75.379644"],["8cb31d91.7ebd6"],["e78b9502.d94418"],["ba2a333f.8ddd8"]]},{"id":"78dc9930.01e378","type":"comment","z":"6e2c72e4.29514c","name":"上が押された場合","info":"","x":690,"y":40,"wires":[]},{"id":"747b747f.5e02dc","type":"template","z":"6e2c72e4.29514c","name":"ウェルカムメッセージ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome to SORACOM!!","output":"str","x":700,"y":80,"wires":[["ca8d42a1.1c388"]]},{"id":"ca8d42a1.1c388","type":"rpi-sensehat out","z":"6e2c72e4.29514c","name":"","x":950,"y":240,"wires":[]},{"id":"ba2a333f.8ddd8","type":"exec","z":"6e2c72e4.29514c","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"シャットダウン","x":680,"y":620,"wires":[[],[],[]]},{"id":"f92ef213.a3916","type":"comment","z":"6e2c72e4.29514c","name":"ボタンが押された場合","info":"","x":700,"y":560,"wires":[]},{"id":"913fcf27.57204","type":"template","z":"e5321a4e.bd11d8","name":"全てのLEDを同じ色にする","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,{{red}},{{green}},{{blue}}","output":"str","x":720,"y":100,"wires":[[]]},{"id":"d84f5d89.00fc6","type":"random","z":"e5321a4e.bd11d8","name":"赤色","low":"0","high":"255","inte":"true","property":"red","x":230,"y":100,"wires":[["94756ae2.da7cc8"]]},{"id":"94756ae2.da7cc8","type":"random","z":"e5321a4e.bd11d8","name":"緑色","low":"0","high":"255","inte":"true","property":"green","x":370,"y":100,"wires":[["a84f1408.565c48"]]},{"id":"a84f1408.565c48","type":"random","z":"e5321a4e.bd11d8","name":"青色","low":"0","high":"255","inte":"true","property":"blue","x":510,"y":100,"wires":[["913fcf27.57204"]]},{"id":"ef353129.9fa","type":"comment","z":"6e2c72e4.29514c","name":"下が押された場合","info":"","x":690,"y":140,"wires":[]},{"id":"d36daa9d.c2c708","type":"comment","z":"6e2c72e4.29514c","name":"左が押された場合","info":"","x":690,"y":340,"wires":[]},{"id":"314f22a7.c3b62e","type":"comment","z":"6e2c72e4.29514c","name":"右が押された場合","info":"","x":690,"y":420,"wires":[]},{"id":"4f2be7d7.59cdf8","type":"inject","z":"1b3b57cd.1b61a8","name":"SORACOM Air接続","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["14e3a3d5.624f4c"]]},{"id":"14e3a3d5.624f4c","type":"exec","z":"1b3b57cd.1b61a8","command":"sudo wvdial","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"接続開始","x":360,"y":440,"wires":[[],[],[]]},{"id":"a6c0bdc8.b255a","type":"template","z":"acc22296.c8efc","name":"ドットを打つ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{col}},{{row}},{{red}},{{green}},{{blue}}","output":"str","x":820,"y":220,"wires":[["b8f5dc91.ef7bb"]]},{"id":"b8d79a58.4b22a8","type":"random","z":"acc22296.c8efc","name":"赤色","low":"0","high":"255","inte":"true","property":"red","x":450,"y":140,"wires":[["24d2182e.975ed8"]]},{"id":"24d2182e.975ed8","type":"random","z":"acc22296.c8efc","name":"緑色","low":"0","high":"255","inte":"true","property":"green","x":590,"y":140,"wires":[["91ab149.4a10be8"]]},{"id":"91ab149.4a10be8","type":"random","z":"acc22296.c8efc","name":"青色","low":"0","high":"255","inte":"true","property":"blue","x":730,"y":140,"wires":[["22784280.47c52e"]]},{"id":"22784280.47c52e","type":"random","z":"acc22296.c8efc","name":"列","low":"0","high":"7","inte":"true","property":"col","x":510,"y":220,"wires":[["3e79e6bd.b94afa"]]},{"id":"3e79e6bd.b94afa","type":"random","z":"acc22296.c8efc","name":"行","low":"0","high":"7","inte":"true","property":"row","x":650,"y":220,"wires":[["a6c0bdc8.b255a"]]},{"id":"a9aa95e4.071c68","type":"delay","z":"acc22296.c8efc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":300,"wires":[["b8d79a58.4b22a8"]]},{"id":"e78b9502.d94418","type":"subflow:acc22296.c8efc","z":"6e2c72e4.29514c","name":"","x":670,"y":460,"wires":[["ca8d42a1.1c388"]]},{"id":"ba7fa8b2.408198","type":"http request","z":"e9425003.9b38c","name":"東京の天気","method":"GET","ret":"txt","url":"http://www.jma.go.jp/jp/yoho/319.html","tls":"","x":250,"y":80,"wires":[["9ae42799.bfcf58"]]},{"id":"9ae42799.bfcf58","type":"html","z":"e9425003.9b38c","name":"天気情報を抽出","property":"payload","outproperty":"payload","tag":"th img","ret":"attr","as":"single","x":440,"y":80,"wires":[["39ec91b0.f7175e"]]},{"id":"39ec91b0.f7175e","type":"change","z":"e9425003.9b38c","name":"明日の天気だけ抽出","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1].title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["cfc8b15c.8aef5"]]},{"id":"cfc8b15c.8aef5","type":"switch","z":"e9425003.9b38c","name":"天気チェック","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"晴","vt":"str"},{"t":"cont","v":"曇","vt":"str"},{"t":"cont","v":"雨","vt":"str"},{"t":"cont","v":"雪","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":380,"y":300,"wires":[["1c8c34f6.aca87b"],["1cc6a961.53d347"],["46f21c72.62c874"],["3c4dbca7.53d464"],["5d4df10d.18392"]]},{"id":"1c8c34f6.aca87b","type":"template","z":"e9425003.9b38c","name":"晴れの場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,orangered","output":"str","x":650,"y":200,"wires":[[]]},{"id":"1cc6a961.53d347","type":"template","z":"e9425003.9b38c","name":"曇りの場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,#303030","output":"str","x":650,"y":260,"wires":[[]]},{"id":"46f21c72.62c874","type":"template","z":"e9425003.9b38c","name":"雨の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,royalblue","output":"str","x":640,"y":320,"wires":[[]]},{"id":"3c4dbca7.53d464","type":"template","z":"e9425003.9b38c","name":"雪の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,snow","output":"str","x":640,"y":380,"wires":[[]]},{"id":"5d4df10d.18392","type":"template","z":"e9425003.9b38c","name":"それ以外の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,darkviolet","output":"str","x":660,"y":440,"wires":[[]]},{"id":"8cb31d91.7ebd6","type":"subflow:e9425003.9b38c","z":"6e2c72e4.29514c","name":"","x":660,"y":380,"wires":[["ca8d42a1.1c388"]]},{"id":"b8f5dc91.ef7bb","type":"switch","z":"acc22296.c8efc","name":"クリアされたか","property":"running","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":320,"wires":[["a9aa95e4.071c68"],["faade946.845698"]]},{"id":"3cc95fdc.b1b51","type":"change","z":"acc22296.c8efc","name":"実行中フラグのセット","rules":[{"t":"set","p":"running","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":80,"wires":[["b8d79a58.4b22a8"]]},{"id":"4cd11b75.379644","type":"change","z":"6e2c72e4.29514c","name":"実行中フラグのクリア","rules":[{"t":"set","p":"running","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["3790467d.42f3ea"]]},{"id":"3790467d.42f3ea","type":"template","z":"6e2c72e4.29514c","name":"画面クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,black","output":"str","x":670,"y":240,"wires":[["ca8d42a1.1c388"]]},{"id":"16fa49a7.b13906","type":"template","z":"acc22296.c8efc","name":"画面クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,black","output":"str","x":830,"y":380,"wires":[[]]},{"id":"faade946.845698","type":"delay","z":"acc22296.c8efc","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":380,"wires":[["16fa49a7.b13906"]]},{"id":"4c34893f.202208","type":"comment","z":"1b3b57cd.1b61a8","name":"USBを接続＆Wi-Fi切断してから実行！","info":"","x":210,"y":380,"wires":[]}]