sensehat-flow.json
[{"id":"f65691ea.59021","type":"tab","label":"LED制御","disabled":false,"info":""},{"id":"2f67c250.30504e","type":"tab","label":"SORACOM Metadata","disabled":false,"info":""},{"id":"26419116.14303e","type":"tab","label":"SORACOM Harvest","disabled":false,"info":""},{"id":"4a7a7edc.24c08","type":"tab","label":"１度だけ実行","disabled":false,"info":""},{"id":"229726f5.99dcfa","type":"subflow","name":"ランダムLED","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"9b3f301c.a4d0b"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"2db3d21f.2e718e","port":0}]}]},{"id":"6739f5e3.96e1ac","type":"subflow","name":"ランダムdot","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"83384996.b94598"}]}],"out":[{"x":1000,"y":220,"wires":[{"id":"3ad4aa7a.c92b86","port":0},{"id":"dd9c34c9.737758","port":0}]}]},{"id":"f679c9bf.e76568","type":"subflow","name":"天気予報","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"96087c18.6c19d"}]}],"out":[{"x":880,"y":320,"wires":[{"id":"b77e2ee1.2ae96","port":0},{"id":"4313196f.982f58","port":0},{"id":"3d922d9b.c7f1d2","port":0},{"id":"99fadac9.27fc58","port":0},{"id":"3db9d7d1.67b6d8","port":0}]}]},{"id":"9ce43a1a.8d48d8","type":"rpi-sensehat in","z":"f65691ea.59021","name":"","motion":false,"env":false,"stick":true,"x":130,"y":200,"wires":[["64bfa02b.2067f"]]},{"id":"23ac99e3.72ada6","type":"inject","z":"4a7a7edc.24c08","name":"システム設定","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["804dece4.a69dd","30024b2f.b32bc4","47fa865f.754128"]]},{"id":"c2e67a89.c6f0d8","type":"template","z":"4a7a7edc.24c08","name":"wvdial.confの作成","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[Dialer Defaults]\nInit1 = ATZ\nInit2 = ATH\nInit3 = AT+CGDCONT=1,\"IP\",\"soracom.io\"\nInit4 = ATQ0 V1 E1 S0=0 &C1 &D2 +FCLASS=0\nDial Attempts = 3\nStupid Mode = 1\nModem Type = Analog Modem\nDial Command = ATD\nNew PPPD = yes\nAPN = soracom.io\nModem = /dev/ttyUSB2\nBaud = 460800\nISDN = 0\nPhone = *99***1#\nUsername = sora\nPassword = sora\nCarrier Check = no","output":"str","x":590,"y":160,"wires":[["d0a178a1.6dbf98"]]},{"id":"d0a178a1.6dbf98","type":"file","z":"4a7a7edc.24c08","name":"wvdial.confへの書き込み","filename":"/etc/wvdial.conf","appendNewline":true,"createDir":false,"overwriteFile":"true","x":830,"y":160,"wires":[["3863c2f6.25506e"]]},{"id":"804dece4.a69dd","type":"exec","z":"4a7a7edc.24c08","command":"sudo touch /etc/wvdial.conf && sudo chmod 646 /etc/wvdial.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdial.confを作成","x":370,"y":160,"wires":[["c2e67a89.c6f0d8"],[],[]]},{"id":"3863c2f6.25506e","type":"exec","z":"4a7a7edc.24c08","command":"sudo chmod 644 /etc/wvdial.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdial.confの権限を戻す","x":1090,"y":160,"wires":[[],[],[]]},{"id":"30024b2f.b32bc4","type":"exec","z":"4a7a7edc.24c08","command":"yes | sudo apt-get install wvdial","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdialのインストール","x":380,"y":60,"wires":[["fa26cee0.c2ad9"],[],[]]},{"id":"57474738.ee3cf8","type":"inject","z":"2f67c250.30504e","name":"IMSIの取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["dcce487.ed675b8"]]},{"id":"22667a03.e61486","type":"debug","z":"2f67c250.30504e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"dcce487.ed675b8","type":"http request","z":"2f67c250.30504e","name":"subscriber.imsi","method":"GET","ret":"txt","url":"http://metadata.soracom.io/v1/subscriber.imsi","tls":"","x":400,"y":180,"wires":[["22667a03.e61486"]]},{"id":"e79c0a03.499ab8","type":"http request","z":"2f67c250.30504e","name":"subscriber","method":"GET","ret":"obj","url":"http://metadata.soracom.io/v1/subscriber","tls":"","x":390,"y":100,"wires":[["22667a03.e61486"]]},{"id":"dd4ff810.b78858","type":"inject","z":"2f67c250.30504e","name":"Subscriber情報取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["e79c0a03.499ab8"]]},{"id":"47fa865f.754128","type":"exec","z":"4a7a7edc.24c08","command":"sudo systemctl enable nodered.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"node-redをOS起動時に実行","x":400,"y":260,"wires":[[],[],[]]},{"id":"fa26cee0.c2ad9","type":"debug","z":"4a7a7edc.24c08","name":"結果の出力","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":60,"wires":[]},{"id":"75862e8d.0be4a","type":"change","z":"26419116.14303e","name":"カウントを１プラス","rules":[{"t":"set","p":"count","pt":"flow","to":"$flowContext(\"count\") + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["fcda1d01.acff2"]]},{"id":"fcda1d01.acff2","type":"switch","z":"26419116.14303e","name":"5秒に1度だけ出力","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$boolean($flowContext(\"count\") % 5 = 0)\t","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":280,"wires":[["a2cd872c.7ca2b8"]]},{"id":"11acd6f0.1e2989","type":"rpi-sensehat in","z":"26419116.14303e","name":"室内情報を取得","motion":false,"env":true,"stick":false,"x":160,"y":280,"wires":[["75862e8d.0be4a"]]},{"id":"7d8e0eda.5a6ce","type":"inject","z":"26419116.14303e","name":"harvestの利用開始","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["ef964303.7c622"]]},{"id":"ef964303.7c622","type":"change","z":"26419116.14303e","name":"カウンタを初期化","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[[]]},{"id":"a2cd872c.7ca2b8","type":"http request","z":"26419116.14303e","name":"","method":"POST","ret":"txt","url":"http://harvest.soracom.io","tls":"","x":810,"y":280,"wires":[[]]},{"id":"1e567eac.66af91","type":"inject","z":"26419116.14303e","name":"harvestの利用停止","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["9b424638.847708"]]},{"id":"9b424638.847708","type":"change","z":"26419116.14303e","name":"カウンタを削除","rules":[{"t":"set","p":"count","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[[]]},{"id":"64bfa02b.2067f","type":"switch","z":"f65691ea.59021","name":"ONの時","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":200,"wires":[["fa8c41e3.5eff5"]]},{"id":"fa8c41e3.5eff5","type":"switch","z":"f65691ea.59021","name":"押されたキー","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":320,"y":300,"wires":[["6fadfea7.24935"],["fca55c84.ead95"],["852bb338.04b91"],["ba65d64b.c4a798"],["634f5839.43ec98"]]},{"id":"3eb90eae.f85362","type":"comment","z":"f65691ea.59021","name":"上が押された場合","info":"","x":690,"y":40,"wires":[]},{"id":"6fadfea7.24935","type":"template","z":"f65691ea.59021","name":"ウェルカムメッセージ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome to SORACOM!!","output":"str","x":700,"y":80,"wires":[["f0eba080.b859a"]]},{"id":"f0eba080.b859a","type":"rpi-sensehat out","z":"f65691ea.59021","name":"","x":950,"y":240,"wires":[]},{"id":"634f5839.43ec98","type":"exec","z":"f65691ea.59021","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"シャットダウン","x":680,"y":620,"wires":[[],[],[]]},{"id":"a75f9d90.95a1c","type":"comment","z":"f65691ea.59021","name":"ボタンが押された場合","info":"","x":700,"y":560,"wires":[]},{"id":"2db3d21f.2e718e","type":"template","z":"229726f5.99dcfa","name":"全てのLEDを同じ色にする","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,{{red}},{{green}},{{blue}}","output":"str","x":720,"y":100,"wires":[[]]},{"id":"9b3f301c.a4d0b","type":"random","z":"229726f5.99dcfa","name":"赤色","low":"0","high":"255","inte":"true","property":"red","x":230,"y":100,"wires":[["75dfa9fa.9f4658"]]},{"id":"75dfa9fa.9f4658","type":"random","z":"229726f5.99dcfa","name":"緑色","low":"0","high":"255","inte":"true","property":"green","x":370,"y":100,"wires":[["bea0a9d8.1b0a48"]]},{"id":"bea0a9d8.1b0a48","type":"random","z":"229726f5.99dcfa","name":"青色","low":"0","high":"255","inte":"true","property":"blue","x":510,"y":100,"wires":[["2db3d21f.2e718e"]]},{"id":"b54b9c22.d346","type":"comment","z":"f65691ea.59021","name":"下が押された場合","info":"","x":690,"y":140,"wires":[]},{"id":"278b95a5.a2ca7a","type":"comment","z":"f65691ea.59021","name":"左が押された場合","info":"","x":690,"y":340,"wires":[]},{"id":"a0c29766.b436f8","type":"comment","z":"f65691ea.59021","name":"右が押された場合","info":"","x":690,"y":420,"wires":[]},{"id":"a3b73d45.23fd3","type":"inject","z":"4a7a7edc.24c08","name":"SORACOM Air接続","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["1971e258.2dd96e"]]},{"id":"1971e258.2dd96e","type":"exec","z":"4a7a7edc.24c08","command":"sudo wvdial","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"接続開始","x":360,"y":440,"wires":[[],[],[]]},{"id":"3ad4aa7a.c92b86","type":"template","z":"6739f5e3.96e1ac","name":"ドットを打つ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{col}},{{row}},{{red}},{{green}},{{blue}}","output":"str","x":820,"y":220,"wires":[["46873c03.adf544"]]},{"id":"8e9300e0.8fa3d","type":"random","z":"6739f5e3.96e1ac","name":"赤色","low":"0","high":"255","inte":"true","property":"red","x":450,"y":140,"wires":[["b6c0e0cf.76b99"]]},{"id":"b6c0e0cf.76b99","type":"random","z":"6739f5e3.96e1ac","name":"緑色","low":"0","high":"255","inte":"true","property":"green","x":590,"y":140,"wires":[["479d02c3.c948cc"]]},{"id":"479d02c3.c948cc","type":"random","z":"6739f5e3.96e1ac","name":"青色","low":"0","high":"255","inte":"true","property":"blue","x":730,"y":140,"wires":[["a6118eab.3cac7"]]},{"id":"a6118eab.3cac7","type":"random","z":"6739f5e3.96e1ac","name":"列","low":"0","high":"7","inte":"true","property":"col","x":510,"y":220,"wires":[["32e1a5a0.fbcf1a"]]},{"id":"32e1a5a0.fbcf1a","type":"random","z":"6739f5e3.96e1ac","name":"行","low":"0","high":"7","inte":"true","property":"row","x":650,"y":220,"wires":[["3ad4aa7a.c92b86"]]},{"id":"1502e92d.0782c7","type":"delay","z":"6739f5e3.96e1ac","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":300,"wires":[["8e9300e0.8fa3d"]]},{"id":"ba65d64b.c4a798","type":"subflow:6739f5e3.96e1ac","z":"f65691ea.59021","name":"","x":670,"y":460,"wires":[["f0eba080.b859a"]]},{"id":"96087c18.6c19d","type":"http request","z":"f679c9bf.e76568","name":"東京の天気","method":"GET","ret":"txt","url":"http://www.jma.go.jp/jp/yoho/319.html","tls":"","x":250,"y":80,"wires":[["77366d2c.a793d4"]]},{"id":"77366d2c.a793d4","type":"html","z":"f679c9bf.e76568","name":"天気情報を抽出","property":"payload","outproperty":"payload","tag":"th img","ret":"attr","as":"single","x":440,"y":80,"wires":[["20f5bc4.c7ab344"]]},{"id":"20f5bc4.c7ab344","type":"change","z":"f679c9bf.e76568","name":"明日の天気だけ抽出","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1].title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["e9f0473b.80aeb8"]]},{"id":"e9f0473b.80aeb8","type":"switch","z":"f679c9bf.e76568","name":"天気チェック","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"晴","vt":"str"},{"t":"cont","v":"曇","vt":"str"},{"t":"cont","v":"雨","vt":"str"},{"t":"cont","v":"雪","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":380,"y":300,"wires":[["b77e2ee1.2ae96"],["4313196f.982f58"],["3d922d9b.c7f1d2"],["99fadac9.27fc58"],["3db9d7d1.67b6d8"]]},{"id":"b77e2ee1.2ae96","type":"template","z":"f679c9bf.e76568","name":"晴れの場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,orangered","output":"str","x":650,"y":200,"wires":[[]]},{"id":"4313196f.982f58","type":"template","z":"f679c9bf.e76568","name":"曇りの場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,#303030","output":"str","x":650,"y":260,"wires":[[]]},{"id":"3d922d9b.c7f1d2","type":"template","z":"f679c9bf.e76568","name":"雨の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,royalblue","output":"str","x":640,"y":320,"wires":[[]]},{"id":"99fadac9.27fc58","type":"template","z":"f679c9bf.e76568","name":"雪の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,snow","output":"str","x":640,"y":380,"wires":[[]]},{"id":"3db9d7d1.67b6d8","type":"template","z":"f679c9bf.e76568","name":"それ以外の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,darkviolet","output":"str","x":660,"y":440,"wires":[[]]},{"id":"852bb338.04b91","type":"subflow:f679c9bf.e76568","z":"f65691ea.59021","name":"","x":660,"y":380,"wires":[["f0eba080.b859a"]]},{"id":"46873c03.adf544","type":"switch","z":"6739f5e3.96e1ac","name":"クリアされたか","property":"running","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":320,"wires":[["1502e92d.0782c7"],["577e999a.d2f1b8"]]},{"id":"83384996.b94598","type":"change","z":"6739f5e3.96e1ac","name":"実行中フラグのセット","rules":[{"t":"set","p":"running","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":80,"wires":[["8e9300e0.8fa3d"]]},{"id":"fca55c84.ead95","type":"change","z":"f65691ea.59021","name":"実行中フラグのクリア","rules":[{"t":"set","p":"running","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["3fa39079.737f7"]]},{"id":"3fa39079.737f7","type":"template","z":"f65691ea.59021","name":"画面クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,black","output":"str","x":670,"y":240,"wires":[["f0eba080.b859a"]]},{"id":"dd9c34c9.737758","type":"template","z":"6739f5e3.96e1ac","name":"画面クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,black","output":"str","x":830,"y":380,"wires":[[]]},{"id":"577e999a.d2f1b8","type":"delay","z":"6739f5e3.96e1ac","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":380,"wires":[["dd9c34c9.737758"]]},{"id":"2cc1dcb5.f82364","type":"comment","z":"4a7a7edc.24c08","name":"USBを接続してから実行！","info":"","x":170,"y":380,"wires":[]}]