sensehat-flow.json
[{"id":"c0e27430.418658","type":"tab","label":"LED制御","disabled":false,"info":""},{"id":"fd9bc7f8.6fb168","type":"tab","label":"SORACOM Metadata","disabled":false,"info":""},{"id":"464ce9c7.5eb1e8","type":"tab","label":"SORACOM Harvest","disabled":false,"info":""},{"id":"4ebfc33b.4ea44c","type":"tab","label":"１度だけ実行","disabled":false,"info":""},{"id":"d6ccef90.30e52","type":"subflow","name":"ランダムLED","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"53562fea.a2a"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"46b718fb.2b14b8","port":0}]}]},{"id":"70c750e7.da72e","type":"subflow","name":"ランダムdot","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"74b64f43.371d5"}]}],"out":[{"x":1000,"y":220,"wires":[{"id":"888b8d38.e7f95","port":0},{"id":"ddd15bd6.912de8","port":0}]}]},{"id":"4b5f7681.546a08","type":"subflow","name":"天気予報","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"48ad6d0e.e0dd04"}]}],"out":[{"x":880,"y":320,"wires":[{"id":"1ad61884.a3a3d7","port":0},{"id":"43260976.82c878","port":0},{"id":"a4e6810c.c6b61","port":0},{"id":"6c0ee16f.a4138","port":0},{"id":"69156748.cceca8","port":0}]}]},{"id":"14669518.3aab6b","type":"rpi-sensehat in","z":"c0e27430.418658","name":"","motion":false,"env":false,"stick":true,"x":130,"y":200,"wires":[["a7b552a0.d78b8"]]},{"id":"b66210de.10309","type":"inject","z":"4ebfc33b.4ea44c","name":"システム設定","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["4a563de3.07c174","6d4167f7.18d7f8","aefbc323.64e04"]]},{"id":"e61dfc18.737c5","type":"template","z":"4ebfc33b.4ea44c","name":"wvdial.confの作成","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[Dialer Defaults]\nInit1 = ATZ\nInit2 = ATH\nInit3 = AT+CGDCONT=1,\"IP\",\"soracom.io\"\nInit4 = ATQ0 V1 E1 S0=0 &C1 &D2 +FCLASS=0\nDial Attempts = 3\nStupid Mode = 1\nModem Type = Analog Modem\nDial Command = ATD\nNew PPPD = yes\nAPN = soracom.io\nModem = /dev/ttyUSB2\nBaud = 460800\nISDN = 0\nPhone = *99***1#\nUsername = sora\nPassword = sora\nCarrier Check = no","output":"str","x":590,"y":180,"wires":[["7d7900f1.cf8c"]]},{"id":"7d7900f1.cf8c","type":"file","z":"4ebfc33b.4ea44c","name":"wvdial.confへの書き込み","filename":"/etc/wvdial.conf","appendNewline":true,"createDir":false,"overwriteFile":"true","x":830,"y":180,"wires":[["b3de72b6.6b0c5"]]},{"id":"4a563de3.07c174","type":"exec","z":"4ebfc33b.4ea44c","command":"sudo touch /etc/wvdial.conf && sudo chmod 646 /etc/wvdial.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdial.confを作成","x":370,"y":180,"wires":[["e61dfc18.737c5"],[],[]]},{"id":"b3de72b6.6b0c5","type":"exec","z":"4ebfc33b.4ea44c","command":"sudo chmod 644 /etc/wvdial.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdial.confの権限を戻す","x":1090,"y":180,"wires":[[],[],[]]},{"id":"6d4167f7.18d7f8","type":"exec","z":"4ebfc33b.4ea44c","command":"yes | sudo apt-get install wvdial","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wvdialのインストール","x":380,"y":80,"wires":[["36686c62.8edfd4"],[],[]]},{"id":"aa870d97.7d4cc","type":"inject","z":"fd9bc7f8.6fb168","name":"IMSIの取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["e7016c40.31685"]]},{"id":"6cbdc61d.e85f78","type":"debug","z":"fd9bc7f8.6fb168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"e7016c40.31685","type":"http request","z":"fd9bc7f8.6fb168","name":"subscriber.imsi","method":"GET","ret":"txt","url":"http://metadata.soracom.io/v1/subscriber.imsi","tls":"","x":400,"y":180,"wires":[["6cbdc61d.e85f78"]]},{"id":"b1bcf476.8ba3f8","type":"http request","z":"fd9bc7f8.6fb168","name":"subscriber","method":"GET","ret":"obj","url":"http://metadata.soracom.io/v1/subscriber","tls":"","x":390,"y":100,"wires":[["6cbdc61d.e85f78"]]},{"id":"ce747036.cb022","type":"inject","z":"fd9bc7f8.6fb168","name":"Subscriber情報取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["b1bcf476.8ba3f8"]]},{"id":"aefbc323.64e04","type":"exec","z":"4ebfc33b.4ea44c","command":"sudo systemctl enable nodered.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"node-redをOS起動時に実行","x":400,"y":280,"wires":[[],[],[]]},{"id":"36686c62.8edfd4","type":"debug","z":"4ebfc33b.4ea44c","name":"結果の出力","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":80,"wires":[]},{"id":"c5f02d98.f8a47","type":"change","z":"464ce9c7.5eb1e8","name":"カウントを１プラス","rules":[{"t":"set","p":"count","pt":"flow","to":"$flowContext(\"count\") + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["81c40de9.f5f5c"]]},{"id":"81c40de9.f5f5c","type":"switch","z":"464ce9c7.5eb1e8","name":"5秒に1度だけ出力","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$boolean($flowContext(\"count\") % 5 = 0)\t","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":280,"wires":[["8bb0a08e.a683c"]]},{"id":"419afaec.3d45b4","type":"rpi-sensehat in","z":"464ce9c7.5eb1e8","name":"室内情報を取得","motion":false,"env":true,"stick":false,"x":160,"y":280,"wires":[["c5f02d98.f8a47"]]},{"id":"b41a4a20.670be8","type":"inject","z":"464ce9c7.5eb1e8","name":"harvestの利用開始","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["860d3621.4284b8"]]},{"id":"860d3621.4284b8","type":"change","z":"464ce9c7.5eb1e8","name":"カウンタを初期化","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[[]]},{"id":"8bb0a08e.a683c","type":"http request","z":"464ce9c7.5eb1e8","name":"","method":"POST","ret":"txt","url":"http://harvest.soracom.io","tls":"","x":810,"y":280,"wires":[[]]},{"id":"37080165.31611e","type":"inject","z":"464ce9c7.5eb1e8","name":"harvestの利用停止","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["b0f07204.bdd94"]]},{"id":"b0f07204.bdd94","type":"change","z":"464ce9c7.5eb1e8","name":"カウンタを削除","rules":[{"t":"set","p":"count","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[[]]},{"id":"a7b552a0.d78b8","type":"switch","z":"c0e27430.418658","name":"ONの時","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":200,"wires":[["f2f9f4bf.0b1148"]]},{"id":"f2f9f4bf.0b1148","type":"switch","z":"c0e27430.418658","name":"押されたキー","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":320,"y":300,"wires":[["22d9fb6f.895444"],["2e098197.f1ed0e"],["ead371f7.6aa33"],["3c1a8ffa.0b949"],["8569d588.269818"]]},{"id":"83edd4ee.7a9c88","type":"comment","z":"c0e27430.418658","name":"上が押された場合","info":"","x":690,"y":40,"wires":[]},{"id":"22d9fb6f.895444","type":"template","z":"c0e27430.418658","name":"ウェルカムメッセージ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome to SORACOM!!","output":"str","x":700,"y":80,"wires":[["b8dc5016.9dbff"]]},{"id":"b8dc5016.9dbff","type":"rpi-sensehat out","z":"c0e27430.418658","name":"","x":950,"y":240,"wires":[]},{"id":"8569d588.269818","type":"exec","z":"c0e27430.418658","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"シャットダウン","x":680,"y":620,"wires":[[],[],[]]},{"id":"e0ad1b03.cb9768","type":"comment","z":"c0e27430.418658","name":"ボタンが押された場合","info":"","x":700,"y":560,"wires":[]},{"id":"46b718fb.2b14b8","type":"template","z":"d6ccef90.30e52","name":"全てのLEDを同じ色にする","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,{{red}},{{green}},{{blue}}","output":"str","x":720,"y":100,"wires":[[]]},{"id":"53562fea.a2a","type":"random","z":"d6ccef90.30e52","name":"赤色","low":"0","high":"255","inte":"true","property":"red","x":230,"y":100,"wires":[["f9a52801.2dad88"]]},{"id":"f9a52801.2dad88","type":"random","z":"d6ccef90.30e52","name":"緑色","low":"0","high":"255","inte":"true","property":"green","x":370,"y":100,"wires":[["821bc311.28054"]]},{"id":"821bc311.28054","type":"random","z":"d6ccef90.30e52","name":"青色","low":"0","high":"255","inte":"true","property":"blue","x":510,"y":100,"wires":[["46b718fb.2b14b8"]]},{"id":"a498224f.6c343","type":"comment","z":"c0e27430.418658","name":"下が押された場合","info":"","x":690,"y":140,"wires":[]},{"id":"cb78c4a.9a03838","type":"comment","z":"c0e27430.418658","name":"左が押された場合","info":"","x":690,"y":340,"wires":[]},{"id":"32eb6026.fbe6a","type":"comment","z":"c0e27430.418658","name":"右が押された場合","info":"","x":690,"y":420,"wires":[]},{"id":"7cf73d71.8c2534","type":"comment","z":"4ebfc33b.4ea44c","name":"TODO: 自動接続","info":"","x":140,"y":440,"wires":[]},{"id":"29107836.0f96f8","type":"inject","z":"4ebfc33b.4ea44c","name":"SORACOM Air接続","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["d2ed3c4a.53f17"]]},{"id":"d2ed3c4a.53f17","type":"exec","z":"4ebfc33b.4ea44c","command":"sudo wvdial","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"接続開始","x":360,"y":500,"wires":[[],[],[]]},{"id":"888b8d38.e7f95","type":"template","z":"70c750e7.da72e","name":"ドットを打つ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{col}},{{row}},{{red}},{{green}},{{blue}}","output":"str","x":820,"y":220,"wires":[["19b331d2.41457e"]]},{"id":"ad4f6f18.f36c6","type":"random","z":"70c750e7.da72e","name":"赤色","low":"0","high":"255","inte":"true","property":"red","x":450,"y":140,"wires":[["2690180b.3377c8"]]},{"id":"2690180b.3377c8","type":"random","z":"70c750e7.da72e","name":"緑色","low":"0","high":"255","inte":"true","property":"green","x":590,"y":140,"wires":[["ca8940e5.fe1bc"]]},{"id":"ca8940e5.fe1bc","type":"random","z":"70c750e7.da72e","name":"青色","low":"0","high":"255","inte":"true","property":"blue","x":730,"y":140,"wires":[["f87775f7.c992f8"]]},{"id":"f87775f7.c992f8","type":"random","z":"70c750e7.da72e","name":"列","low":"0","high":"7","inte":"true","property":"col","x":510,"y":220,"wires":[["7bf0f518.a132fc"]]},{"id":"7bf0f518.a132fc","type":"random","z":"70c750e7.da72e","name":"行","low":"0","high":"7","inte":"true","property":"row","x":650,"y":220,"wires":[["888b8d38.e7f95"]]},{"id":"a0ed26a1.ef5da8","type":"delay","z":"70c750e7.da72e","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":300,"wires":[["ad4f6f18.f36c6"]]},{"id":"3c1a8ffa.0b949","type":"subflow:70c750e7.da72e","z":"c0e27430.418658","name":"","x":670,"y":460,"wires":[["b8dc5016.9dbff"]]},{"id":"48ad6d0e.e0dd04","type":"http request","z":"4b5f7681.546a08","name":"東京の天気","method":"GET","ret":"txt","url":"http://www.jma.go.jp/jp/yoho/319.html","tls":"","x":250,"y":80,"wires":[["f58daf5f.97495"]]},{"id":"f58daf5f.97495","type":"html","z":"4b5f7681.546a08","name":"天気情報を抽出","property":"payload","outproperty":"payload","tag":"th img","ret":"attr","as":"single","x":440,"y":80,"wires":[["f91e3888.842aa8"]]},{"id":"f91e3888.842aa8","type":"change","z":"4b5f7681.546a08","name":"明日の天気だけ抽出","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1].title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["a217315d.672ac"]]},{"id":"a217315d.672ac","type":"switch","z":"4b5f7681.546a08","name":"天気チェック","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"晴","vt":"str"},{"t":"cont","v":"曇","vt":"str"},{"t":"cont","v":"雨","vt":"str"},{"t":"cont","v":"雪","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":380,"y":300,"wires":[["1ad61884.a3a3d7"],["43260976.82c878"],["a4e6810c.c6b61"],["6c0ee16f.a4138"],["69156748.cceca8"]]},{"id":"1ad61884.a3a3d7","type":"template","z":"4b5f7681.546a08","name":"晴れの場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,orangered","output":"str","x":650,"y":200,"wires":[[]]},{"id":"43260976.82c878","type":"template","z":"4b5f7681.546a08","name":"曇りの場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,#303030","output":"str","x":650,"y":260,"wires":[[]]},{"id":"a4e6810c.c6b61","type":"template","z":"4b5f7681.546a08","name":"雨の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,royalblue","output":"str","x":640,"y":320,"wires":[[]]},{"id":"6c0ee16f.a4138","type":"template","z":"4b5f7681.546a08","name":"雪の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,snow","output":"str","x":640,"y":380,"wires":[[]]},{"id":"69156748.cceca8","type":"template","z":"4b5f7681.546a08","name":"それ以外の場合","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,darkviolet","output":"str","x":660,"y":440,"wires":[[]]},{"id":"ead371f7.6aa33","type":"subflow:4b5f7681.546a08","z":"c0e27430.418658","name":"","x":660,"y":380,"wires":[["b8dc5016.9dbff"]]},{"id":"19b331d2.41457e","type":"switch","z":"70c750e7.da72e","name":"クリアされたか","property":"running","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":320,"wires":[["a0ed26a1.ef5da8"],["99b9a68b.52dbe8"]]},{"id":"74b64f43.371d5","type":"change","z":"70c750e7.da72e","name":"実行中フラグのセット","rules":[{"t":"set","p":"running","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":80,"wires":[["ad4f6f18.f36c6"]]},{"id":"2e098197.f1ed0e","type":"change","z":"c0e27430.418658","name":"実行中フラグのクリア","rules":[{"t":"set","p":"running","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["cfcb6454.83e688"]]},{"id":"cfcb6454.83e688","type":"template","z":"c0e27430.418658","name":"画面クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,black","output":"str","x":670,"y":240,"wires":[["b8dc5016.9dbff"]]},{"id":"ddd15bd6.912de8","type":"template","z":"70c750e7.da72e","name":"画面クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,*,black","output":"str","x":830,"y":380,"wires":[[]]},{"id":"99b9a68b.52dbe8","type":"delay","z":"70c750e7.da72e","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":380,"wires":[["ddd15bd6.912de8"]]}]